body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #696868;
}

h1 {
  font-family: 'Playfair Display', serif;
  color: rgb(104, 147, 202);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  padding: 10px;
  margin: 10px;
}

.jumbotron {
  text-align: center;
}

.lead {
  padding-top: 10px;
}

.description{
  margin: 10px;
  padding: 10px;
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #cbe1ee;
}

.hour {
  border-right: 1px solid #cbe1ee;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.past {
  background-color: #aac9df;
  color: white;
}

.present {
  background-color: #7995af;
  color: white;
}

.future {
  background-color: #ffffff;
}

.saveBtn {
  background-color: rgba(105, 118, 136, 0.75);
  border: none;
  color: #ffffff; 
}

.saveBtn:hover {
  background-color: rgba(105, 118, 136, 0.75);
}